img{
    width:70%;

}
body{
    text-align:center;
    font-style:monospace;
    font-family: 'Sofia';font-size: 22px;
    
}
.welcome{
    background-image:url("../images/pizza\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:black;
    width:100%;
}
.welcome1{
    margin-top:20%;
    margin-bottom:20%;
    width:100%;
    border-radius: 100%;
    background-color:white;
}
.about{
    margin-top:5%;
    margin-bottom:5%;
}
.size{
    background-color:black;
    color:white;
    height:80%;
}
img:hover{
    width:100%;
}
.crust{
    background-color:black;
    color:white;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
kjgjgjh
